<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>ADD NEW STORY</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>ADD NEW STORY</h1>
        <hr>

        <form action="#" th:action="@{/saveStory}" th:object="${story}" method="POST">
            <input type="text" th:field="*{storyName}"
                   placeholder="Story Name" class="form-control mb-4 col-4">
            <textarea th:field="*{storyStory}" placeholder="Start Writing your Story..." rows="12" cols="100"></textarea>
            <button type="submit" class="btn btn-info col-2">Save Story</button>
        </form>
        <hr>

        <a th:href="@{/home}">Back to HomePage</a>
    </div>
</body>
</html>